
<template name="login">
<head>
  <meta charset="UTF-8">
  <title>APLICACIÓN MARCAS CAMPAÑAS</title>
  <link rel="stylesheet" href="http://www.cledse.com/marc-omniture/marc-omniture/css/general.css"/>
  <link rel="stylesheet" href="http://www.cledse.com/marc-omniture/marc-omniture/css/bootstrap.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
  <link rel="icon" href="http://www.cledse.com/marc-omniture/marc-omniture/imagenes/favicon.ico" type="image/x-icon" />
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

</head>
<section class="container" style="margin-top: -150px;">
  <div class="col-xl-7 top-margin-login">
    <div class="header-login">
        <h2>APLICACIÓN DE MARCAS PARA CAMPAÑAS</h2>
    </div>
  </div>
  <section class="container">
      <form>
          <p>
            <i class="fa fa-user"></i> USUARIO</p>
          <p></p>

          <p>
            <input class="input-login" required="" type="text" name="loginEmail" placeholder="ingrese su nombre de usuario">
          </p>

          <p class="margin-top-login">
            <i class="fa fa-lock "></i> CONTRASEÑA</p>
          <p></p>

          <p>
            <input class="input-login" required="" type="password" name="loginPassword" placeholder="ingrese contraseña">
          </p>

          <p>
            <button class="boton-login" type="submit" name="login">ENTRAR</button>
          </p>
      </form>
      <div class="cont-logos-login">
        <img src="http://www.cledse.com/marc-omniture/marc-omniture/imagenes/logos-sod-homy.jpg"></div>
      

  </section>


  
</section>

</template>