<template name="CreateId">
  {{#IfLoggedIn}}
    <div class="well">

      {{#autoForm collection="CreateId" id="AddCreateIdForm" type="method" meteormethod="addCreateId" resetOnSuccess=true}}
          <fieldset>
            <legend>Creación de Campaña</legend>
            {{> afQuickField name='origenId' noselect=true type="select"}}
            {{#if afFieldValueIs name="origenId" value=interna}}
              {{> afQuickField name="location"}}
              {{#if afFieldValueIs name="location" value='ESPECIALES'}}
              {{> afQuickField name="segment" type="select" options=options1}}
              {{/if}}
              {{#if afFieldValueIs name="location" value='HOME'}}
              {{> afQuickField name="segment" type="select" options=options1}}
              {{/if}}
              {{#if afFieldValueIs name="location" value='LANDING PAGE'}}
              {{> afQuickField name="segment" type="select" options=options2}}
              {{/if}}
            {{/if}}
            {{#if afFieldValueIs name="origenId" value=emkt}}
              {{> afQuickField name="ecn" label="ECN"}}
            {{/if}}
            <div style="width:100%;">
            {{> afQuickField name='type' noselect=true type="select-radio"}}
            {{#if afFieldValueIs name="type" value='PRODUCTO'}}    
              {{> afQuickField name='codigo' label="Codigo Producto (SKU)"}}

              {{> afQuickField name='descripcion'}}
              <span class="input-group-btn">
                  <button class="btn btn-secondary producto" type="button">Generar a partir del SKU</button>
                </span>
            {{/if}}
            {{#if afFieldValueIs name="type" value='CATEGORIA'}}
              {{> afQuickField name='descripcion'}}
               {{> afQuickField name='codigo' label="Codigo Categoria"}}
            {{/if}}
            {{#if afFieldValueIs name="type" value='CONTENIDOS'}}
              {{> afQuickField name='descripcion'}}
               {{> afQuickField name='codigo' label="Codigo Contenido"}}   
            {{/if}}
            <div style="display:none;">
            {{> afQuickField name='param1' value=currentFieldParam1 }}
            {{> afQuickField name='url' value=currentUrl}}
            </div>
            </div>
          </fieldset>
          <div align="right">
          <button type="button" class="btn btn-success test">VER ULTIMA MARCA</button>
          <button type="reset" class="btn btn-default">LIMPIAR</button>
          <button type="submit" class="btn btn-primary">CREAR URL</button>
          </div>
        {{/autoForm}}       
    </div>
  {{/IfLoggedIn}}
</template>
