<template name="CreateIdMasivo">
    <body>
       
        <label>Load XLSX file: </label><input type="file" id="fileInputXLSX" /><br/>
        <table id="result"></table>
        <script lang="javascript">            
            var fileInputXLSX = document.getElementById('fileInputXLSX');

            fileInputXLSX.addEventListener('change', function (e) {

                var files = e.target.files[0];
                Meteor.call('ReadXLSX');
            });
            
           
            
        </script>
        <div align="center">
        <button type="button" class="btn btn-default readxlsx">XLSX</button>
        <button type="button" class="btn btn-default readxls">XLS</button>
        </div>
    </body>
</template>