<template name="CreateId">
  {{#IfLoggedIn}}
    <div class="well">
 <!--    {{> quickForm
      collection="CreateId"
      template="bootstrap3-horizontal"
      label-class="col-sm-2"
      input-col-class="col-sm-10"

      id="AddCreateIdForm"
      type="method"
      meteormethod="addCreateId"
      resetOnSuccess=true}} -->

      {{#autoForm collection="CreateId" id="AddCreateIdForm" type="method" meteormethod="addCreateId" resetOnSuccess=true}}
          <fieldset>
            <legend>Creación de Campaña</legend>
            {{> afQuickField name='origenId'}}
            {{#if afFieldValueIs name="origenId" value=interna}}
              {{> afQuickField name="location"}}
            {{/if}}
            <div style="width:100%;">
            {{> afQuickField name='type' noselect=true type="select-radio"}}
            {{#if afFieldValueIs name="type" value='PRODUCTO'}}
              {{> afQuickField name='descripcion'}}
              {{> afQuickField name='codproducto'}}
            {{/if}}
            {{#if afFieldValueIs name="type" value='CATEGORIA'}}
              {{> afQuickField name='descripcion'}}
              {{> afQuickField name='codcategoria'}}
              {{> afQuickField name='url' value='http://www.sodimac.cl/sodimac-cl/category/'}}
            {{/if}}
            {{#if afFieldValueIs name="type" value='CONTENIDOS'}}
              {{> afQuickField name='descripcion'}}
              {{> afQuickField name='codcontenido'}}
              {{> afQuickField name='url' value='http://www.sodimac.cl/sodimac-cl/content/'}}
            {{/if}}
            </div>
          </fieldset>
          <div align="right">
<!--           <button type="button" class="btn btn-danger remove">Borrar</button>
          <button type="button" class="btn btn-default cancel">Cancelar</button> -->
          <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        {{/autoForm}}       
    </div>
  {{/IfLoggedIn}}
</template>
