<template name="exampleModal">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content" style="text-align:center;">

				<div class="modal-header">
					<h4 class="modal-title">¡Se ha creado una nueva marca con éxito!</h4>
				</div>

				<div class="modal-body">

					<h5>
						<input type="text" id="urlmodal" class="form-control" name="urlmodal" value="{{CreatedIdList.url}}">
					</h5>
					  <div align="center">
			          <button type="button" class="btn btn-default copy">COPIAR URL</button>
			          </div>

				</div>

			</div>
		</div>
	</div>
</template>